# This file includes global variables that will be available inside your project
# In the app.py file, you can access the variable by importing os and then using print(os.getenv('VARIABLE_NAME'))

CLIENT_ID=d363e12812fb464b8ed6674c9cae2ebe
CLIENT_SECRET=4259e34d1d1e4125a2e482c6e8159804